<app-employeehomepage></app-employeehomepage><br><br>
<h3 style="text-align: center;"><b>Track Scholarship Details</b></h3>
<div class="container pb-3 pt-3" >
    
    <div class="form-group">
        <input class="form-control" style="margin-left: 5cm; width:20cm ;" [(ngModel)]="userid" type="text" placeholder="ScholarshipId"><br>
        <button (click)="searchRequest()" style="margin-left:13cm;width:3cm ;" class="btn btn-primary btn-sm">Search</button>
    </div><br>
   <div *ngIf="x.id==this.userid && x.application_details.assigned!=0">
        <div id="requeststruct" class="grid-container pb-3 pt-3">
            <div class="grid-item">Scholarship Id : <b> {{x.id}}</b></div>
            <div class="grid-item">Student FirstName :<b> {{x.application_details.firstName}}</b></div>
            <div class="grid-item">Student LastName : <b>{{x.application_details.lastName}}</b></div>
            <div class="grid-item">Student ClassName :<b> {{x.application_details.className}}</b></div>
            <div class="grid-item">Student State :<b> {{x.application_details.state}}</b></div>
            <div class="grid-item">Student collegeName :<b> {{x.application_details.collegeName}}</b></div>
          <!--  <div class="grid-item">Email: {{x.emailId}}</div>
            <div class="grid-item">Phone Number: {{x.phonenumber}}</div>
            <div class="grid-item">AadharNumber : {{x.aadharCardNumber}}</div>-->
            <div class="grid-item">Studenet PostalAddress: <b>{{x.application_details.postalAddress}}</b></div>
            <div *ngIf="x.application_details.status=='approved'">
                <div style="background-color: green;width: fit-content;" class="grid-item">Status: {{x.application_details.status}}</div>
            </div>
            <div *ngIf="x.application_details.status=='rejected'">
                <div style="background-color: red;width: fit-content;" class="grid-item">Status: {{x.application_details.status}}</div>
            </div>
            <div *ngIf="x.application_details.status==null || x.application_details.status==''">
                <div style="background-color: yellow;width: fit-content;" class="grid-item">Status: In_progress</div>
            </div>
            <div class="grid-item">Assined To Employee Id :<b>{{x.application_details.assigned}}</b></div>
        </div><br><br>
    </div>
</div>

