<app-employeehomepage></app-employeehomepage>
<br><br>
<div *ngFor="let x of xapp">
    <div *ngIf="x.application_details.status==null || x.application_details.status==''">
        <div *ngIf="currentUser.userId==x.application_details.assigned" id="requeststruct" class="grid-container pb-3 pt-3">
            <div class="grid-item">Scholarship Id : <b>{{x.id}}</b></div>
            <div class="grid-item">Student FirstName : <b>{{x.application_details.firstName}}</b></div>
            <div class="grid-item">Student LastName : <b>{{x.application_details.lastName}}</b></div>
            <div class="grid-item">Student ClassName : <b>{{x.application_details.className}}</b></div>
            <div class="grid-item">Student State : <b>{{x.application_details.state}}</b></div>
            <div class="grid-item">Student collegeName : <b>{{x.application_details.collegeName}}</b></div>
            <div class="grid-item">Student Address: <b>{{x.application_details.postalAddress}}</b></div>
            <div class="grid-item">Student mobileNumber: <b>{{x.application_details.userModel.mobileNumber}}</b></div>
            <div class="grid-item">Student Email: <b>{{x.application_details.userModel.email}}</b></div>
            <div class="grid-item"></div>
            <div class="grid-item"><button (click)="onClick(x.id)" class="btn btn-primary btn-lg">View</button></div>
        </div><br><br>
    </div>
</div>
