<app-employeehomepage></app-employeehomepage>
<br>
<h4 style="text-align: center;">You are seeing details of <b>{{stuid}}</b></h4>
<h2 id="details">{{x.firstName}} {{x.lastName}}</h2>
<b><hr></b>
        <div id="requeststruct" class="grid-container pb-3 pt-3">
            <div class="grid-item">Scholarship Id : <b> {{x.appId}}</b></div>
            <div class="grid-item">Student FirstName :<b> {{x.firstName}}</b></div>
            <div class="grid-item">Student LastName : <b>{{x.lastName}}</b></div>
            <div class="grid-item">Student ClassName :<b> {{x.className}}</b></div>
            <div class="grid-item">Student State :<b> {{x.state}}</b></div>
            <div class="grid-item">Student collegeName :<b> {{x.collegeName}}</b></div>
           <!-- <div class="grid-item">Email: {{x.emailId}}</div>
            <div class="grid-item">Phone Number: {{x.phonenumber}}</div>
            <div class="grid-item">AadharNumber : {{x.aadharCardNumber}}</div>-->
            <div class="grid-item">Studenet PostalAddress: <b>{{x.postalAddress}}</b>
            {{x.doc.accountNum}}accountNum
            {{x.user.email}}email
            </div>
            <div class="grid-item">Student Email: <b>{{x.user.email}}</b></div>
            <div class="grid-item">Student mobileNumber: <b>{{xuser.mobileNumber}}</b></div>
            <div class="grid-item">Student rollNumber: <b> {{xdoc.rollNum}}</b></div>
            <h4>Bank details</h4>
            <div class="grid-item">Bank Account Number: <b>{{x.doc.accountNum}}</b></div>
            <div class="grid-item">Aadhar Card Number:<b> {{xdoc.adharNum}}</b></div>
            <div class="grid-item">Bank Branch Name: <b>{{xdoc.branch}}</b></div>
            <div class="grid-item">Bank IFSC Number: <b>{{xdoc.ifscNum}}</b></div>
            <button type="button" (click)="approve()" style="margin-left: 14cm;width: 3cm;" class="btn btn-success btn-lg">Approve</button>
            <button type="button" (click)="reject()" style="margin: 1cm;width: 3cm;" class="btn btn-danger btn-lg">Reject</button>
        </div>


