<br><br>
<h2 style="text-align: center;"><b>Welcome to Scholarship Portal</b></h2>
<div class="container pb-3 pt-3" style="background-color: rgb(184, 245, 242);">
  <form>
    <div class="form-group">
        <label for="email" style="margin-left: 10cm;">Email</label><br>
        <input type="text" style="margin-left: 10cm; width: 10cm;" class="form-control" placeholder="Email Id">
    </div><br>
    <div class="form-group">
        <label for="password" style="margin-left:10cm;">Password</label>
        <input type="password" style="margin-left:10cm; width: 10cm;" class="form-control" placeholder="Password">
    </div><br>
    <div class="form-group" style="text-align:center;">
        <button (click)="captcha()" style="width:2.5cm;" class="btn btn-primary btn-sm">LogIn</button>
    </div>
    <div class="form-group" >
      <button (click)="onClick1()"  class="btn btn-primary btn-sm">back</button>
  </div>
  </form>
</div>
